{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="input-group">
            <label for="remember_me">Remember Me</label>
            <input type="checkbox" name="remember_me" id="remember_me">
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock %}