<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join The Blog</title>
</head>
<body>
    {% if duplicate_email %}
    <p> duplicate email </p>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="full_name" id="">
        <input type="text" name="username" id="">
        <input type="password" name="password" id="">
        <input type="checkbox" name="remember_me" id="">
        <button type="submit">Register</button>
    </form>
</body>
</html>
