{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="main-header">
        <nav class="logo-section">
            <a class="logo"><span class="logo-emphasis">R</span>blog</a>
        </nav>
        <nav class="nav-section">
            {% block nav %}
            <div class="nav-item">
                <a class="nav-link">About Mr.<span style="color: #ba181b; font-size: 30px;">R</span></a>
            </div>
            <div class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link">Blog</a>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="nav-item">
                <a href="/user/login/" class="nav-link">Login</a>
            </div>
            {% endif %}
            {% endblock %}
        </nav>
    </header>
    {% block body %}

    {% endblock %}
</body>
{% block script %}
{% endblock %}
</html>